:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    /*Neutral*/
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
}

.hero-container{
    display: flex;
    width: 50%;
    /* height: auto; */
    margin: 0 auto 50px auto;
    height: 350px;
}

h3{
    text-transform: uppercase;
}

.texto{
    padding: 30px;
    color: var(--Transparent-white);
   height: 290px;
   display: flex;
   flex-direction: column;
}

.texto1{
    background-color: var(--Bright-orange);
}

.texto2{
    background-color: var(--Dark-cyan);
}

.texto3{
    background-color: var(--Very-dark-cyan);
}
p{
    height: 110px;
    margin-bottom: 40px;
    /* padding: 2px; */
}

img{
    width: 50px;
    height: 32px;
}

.btn{
    padding: 10px;
    width: 60%;
    background-color: var(--Very-light-gray);
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.btn1{
    color: var(--Bright-orange);
    text-decoration: none;
}

.btn2{
    color: var(--Dark-cyan);
    text-decoration: none;
}

.btn3{
    color: var(--Very-dark-cyan);
    text-decoration: none;
}

.btn:hover{
    background-color: transparent;
    color: var(--Transparent-white);
    border: solid 2.5px var(--Transparent-white);
}

@media screen and (max-width: 1100px) {
    .hero-container{
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .hero-container{
        display: flex;
        flex-direction: column;
        height: auto;
    }
}

@media screen and (min-width: 300px ) and (max-width: 600px) {
    .hero-container{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: auto;
    }
}